<div class="footer">
  <div class="footer-title">
    <h1 class="title">dine</h1>
  </div>
  <div class="footer-details">
    <div class="details-title">Marthwaite, Sedbergh</div>
    <div class="details-title">Cumbria</div>
    <div class="details-title">+00 44 123 4567</div>
  </div>

  <div class="footer-more-details">
    <div class="details-title">Open Times</div>
    <div class="details-title">Mon - Fri: 09:00 AM - 10:00 PM</div>
    <div class="details-title">Sat - Sun: 09:00 AM - 11:30 PM</div>
  </div>
</div>
