.reservation {
    min-width: 100%;
    height: 650px;
    position: relative;
    background-image: url('../../assets/images/booking/hero-bg-desktop.jpg');
}

.back-btn {
    position: absolute;
    right: 2%;
    top: 2%;
    padding: 20px 45px;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    transition-delay: 0.02s;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}

@media (hover:hover) and (pointer: fine) {
    .back-btn:hover {
        background-color: white;
        color: black;
    }
}

.dine {
    margin-bottom: 100px;
    color: white;
}

.reservation-details {
    width: 50%;
    height: auto;
    padding: 8% 0 0 8%;
}

.reservation-title {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -0.8px;
    color: white;
}

.reservation-desc {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.225px;
    color: white;
}

.reservation-form {
    width: 30%;
    height: 490px;
    position: absolute;
    right: 8%;
    top: 42%;
    padding: 30px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 50px 40px -40px gray;
}

.reservation-form-details {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.name-block, .email-block, .date-time-block, .people-block {
    min-width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.name, .email, .countPeople {
    min-width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.name::placeholder, .email::placeholder, .dateTime::placeholder {
    color: rgb(128, 128, 128);
}

.name:focus::placeholder, .email:focus::placeholder, .dateTime:focus::placeholder {
    color: #673ab7;
}

.name:focus, .email:focus {
    box-shadow: 0 0 5px #673ab7;
    border: none;
}

.people-block {
    min-width: 100%;
    height: 10%;
    position: relative;
}

.countPeople {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.btn-inc-dec {
    min-width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.error {
    padding-top: 15px;
    font-style: normal;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: -0.125px;
    color: #f44336;
}

.reservation-btn {
    min-width: 100%;
    height: auto;
    /*  */
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    /*  */
    padding: 10px;
    /*  */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: none;
    color: white;
    background-color: black;
}

.reservation-btn:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.white-section {
    min-width: 100%;
    height: 400px;
    position: relative;
}

.lines {
    position: absolute;
    right: 35%;
    top: 20%;
}