<div class="f-section">
  <div class="f-section-1">
    <div class="f-section-details">
      <h1 class="dine">dine</h1>
      <h1 class="f-section-title">Exquisite dining since 1989</h1>
      <p class="f-section-desc">
        Experience our seasonal menu in beautiful country surroundings. Eat the
        freshest produce from the comfort of our farmhouse.
      </p>
      <button class="f-section-btn-book" routerLink="/reserve">
        book a table
      </button>
    </div>
  </div>
  <div class="f-section-2">
    <img
      src="../../assets/images/homepage/hero-bg-desktop.jpg"
      alt="hero-bg"
      class="hero-bg"
    />
  </div>
</div>
<div class="s-section">
  <img
    src="../../assets/images/patterns/pattern-curve-top-right.svg"
    alt="top-right-pattern"
    class="top-right-pattern"
  />
  <img
    src="../../assets/images/homepage/enjoyable-place-desktop.jpg"
    alt="enjoyable-place"
    class="enjoyable-place"
  />
  <div class="s-section-details">
    <img
      src="../../assets/images/patterns/pattern-divide.svg"
      alt="divide"
      class="divide-pattern"
    />
    <h1 class="s-section-title">Enjoyable place for all the family</h1>
    <p class="s-section-desc">
      Our relaxed surroundings make dining with us a great experience for
      everyone. We can even arrange a tour of the farm before your meal.
    </p>
  </div>
  <img
    src="../../assets/images/patterns/pattern-curve-top-left.svg"
    alt="top-left-pattern"
    class="top-left-pattern"
  />
  <div class="s-section-more-details">
    <h1 class="details-title">The most locally sourced food</h1>
    <p class="details-desc">
      All our ingredients come directly from our farm or local fishery. So you
      can be sure that you’re eating the freshest, most sustainable food.
    </p>
  </div>
  <img
    src="../../assets/images/patterns/pattern-lines.svg"
    alt="lines"
    class="lines"
  />
  <img
    src="../../assets/images/homepage/locally-sourced-desktop.jpg"
    alt="locally-sourced"
    class="locally-sourced"
  />
</div>
<div class="t-section">
  <div class="t-section-details">
    <div class="t-section-info">
      <img
        src="../../assets/images/patterns/pattern-divide.svg"
        alt="divide"
        class="divide-p"
      />
      <h1 class="t-section-title">A few highlights from our menu</h1>
      <p class="t-section-desc">
        We cater for all dietary requirements, but here’s a glimpse at some of
        our diner’s favourites. Our menu is revamped every season.
      </p>
    </div>
    <div class="t-section-list">
      <div class="dish">
        <div class="dish-image">
          <img
            src="../../assets/images/homepage/salmon-desktop-tablet.jpg"
            alt="salmon"
            class="food-image"
          />
          <img
            src="../../assets/images/patterns/pattern-divide.svg"
            alt="divide"
            class="dividePattern"
          />
        </div>
        <div class="dish-txt">
          <h5 class="dish-title">Seared Salmon Fillet</h5>
          <p class="dish-info">
            Our locally sourced salmon served with a refreshing buckwheat summer
            salad.
          </p>
        </div>
      </div>

      <div class="dish">
        <div class="dish-image">
          <img
            src="../../assets/images/homepage/beef-desktop-tablet.jpg"
            alt="salmon"
            class="food-image"
          />
          <img
            src="../../assets/images/patterns/pattern-divide.svg"
            alt="divide"
            class="dividePattern"
          />
        </div>
        <div class="dish-txt">
          <h5 class="dish-title">Rosemary Filet Mignon</h5>
          <p class="dish-info">
            Our prime beef served to your taste with a delicious choice of
            seasonal sides.
          </p>
        </div>
      </div>

      <div class="dish">
        <div class="dish-image">
          <img
            src="../../assets/images/homepage/chocolate-desktop-tablet.jpg"
            alt="salmon"
            class="food-image"
          />
          <img
            src="../../assets/images/patterns/pattern-divide.svg"
            alt="divide"
            class="dividePattern"
          />
        </div>
        <div class="dish-txt">
          <h5 class="dish-title">Summer Fruit Chocolate Mousse</h5>
          <p class="dish-info">
            Creamy mousse combined with summer fruits and dark chocolate
            shavings.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="forth-section">
  <img
    src="../../assets/images/patterns/pattern-curve-top-right.svg"
    alt="top-right-pattern"
  />
  <div class="forth-details">
    <div class="forth-image">
      <img
        [src]="currentContent.image"
        [alt]="currentContent.title"
        class="forth-image-link"
      />
      <img
        src="../../assets/images/patterns/pattern-lines.svg"
        alt="lines"
        class="forth-section-lines"
      />
    </div>
    <div class="forth-info">
      <h1 class="forth-title">{{ currentContent.title }}</h1>
      <p class="forth-desc">{{ currentContent.description }}</p>
      <button class="forth-btn" routerLink="/reserve">book a table</button>

      <!--  -->
      <ul class="forth-opetions">
        <li
          class="forth-options-item"
          *ngFor="let content of dynamicSection"
          (click)="onChangeContent(content.id)"
        >
          <img
            src="../../assets/images/patterns/pattern-divide.svg"
            alt="divide"
            class="divide-list"
            [style]="{
              display: content.id === currentContent.id ? '' : 'none'
            }"
          />
          {{ content.title }}
        </li>
      </ul>
      <!--  -->
    </div>
  </div>
</div>
<div class="fifth-section">
  <h1 class="fifth-title">Ready to make a reservation?</h1>
  <button class="fifth-btn" routerLink="/reserve">book a table</button>
</div>
